include navigation
div(class = 'mainCon')
    div(class = 'card') 
        div(class = 'titleCard')
        div(class = 'articleCon')
    div(class = 'card') 
            div(class = 'titleCard')
            div(class = 'articleCon')
    div(class = 'card') 
            div(class = 'titleCard')
            div(class = 'articleCon')
    div(class = 'card') 
            div(class = 'titleCard')
            div(class = 'articleCon')
    div(class = 'card') 
            div(class = 'titleCard')
            div(class = 'articleCon')
    div(class = 'card') 
            div(class = 'titleCard')
            div(class = 'articleCon')
    div(class = 'card') 
            div(class = 'titleCard')
            div(class = 'articleCon')
