include header.pug 
//- Шапка страницы
div(class = 'cap')
    div(class = 'capCentr')
        div(class = 'butCon')
            button(class = 'menuButton')
                img(src="images/iconSVG/court.svg", alt="xD")
            button(class = 'menuButton')
                img(src="images/iconSVG/job.svg", alt="xD")
            button(class = 'menuButton')
                img(src="images/iconSVG/down.svg", alt="xD")
        form(class = 'formSearch' action="#" method = 'POST')
            div(class = 'inputCon')
                input(type = "text" )
                img(src="images/iconSVG/search.svg", alt="")